button {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 30px; /* separa del footer */
}
button:hover {
    background-color: #333; /* Cambia el color de fondo al pasar el mouse */
}
p {
    font-family: 'Poppins', sans-serif; /* Fuente atractiva */
    font-size: 1.1rem;                  /* Tamaño un poco más grande */
    line-height: 1.6;                    /* Espaciado entre líneas para legibilidad */
    color: #1e1e2f;                      /* Color elegante (azul oscuro) */
  }
img{
  border-radius: 15px;       /* bordes redondeados */
  margin: 30px 0;            /* espacio arriba y abajo */
  display: block;
  max-width: 100%;
  height: auto;

  /* Para que se vea bien si navbar es fixed */
  position: relative;         
  z-index: 1;                 

  /* Sombra opcional para resaltar */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);    
}  