
<div class="my-5">
  <div class="container-sm  container-md container-lg">
      <div class="m-auto">

        <div class="text-center">
          <img   style="max-width: 100%; max-height: 400px;" class="img-fluid m-auto" src="assets/imagenes/Patricio.png">
          <!-- <h1 class="text-center my-3 my-md-5 fw-bold">{{title}}</h1> -->
        </div>
        <div class="m-auto" style="max-width: 70%">
          <p class="p-1">
            ¡Hola! Muchas gracias por visitar mi portafolio.
            Este sitio está desarrollado con Angular v16, es un SPA (Single Page Application) en la que utilizo Angular Material y Lazy Loading para mejorar la experiencia de navegación.
            
            En la sección Portafolio vas a encontrar algunos proyectos que realicé aplicando mis conocimientos en React, Node.js y bases de datos (MongoDB / MariaDB), además de otros desarrollos académicos y personales.
            
            
              
          </p>
          <p class="p-1">
            Estoy continuamente realizandole mejoras , así que te invito a que lo visites cada tando para que juntos vayamos viendo 
            su avance.
          </p>
          <p class="p-1 mb-5">
            ¡Un gusto, y gracias por pasar!
          </p>
        </div>
        <div class="m-auto text-center">
          <button routerLink="/contact">Contactame</button>
        </div>
      </div>

  </div>
</div>


