<div class="hero-container">

  <div class="hero-left">
      <h1>Hola, soy <strong>Patricio Rearte</strong> </h1>
      <h2 class="subtitulo">Full Stack Developer Jr.</h2>

      <p>
        Este sitio está desarrollado con <strong>Angular v16</strong>. 
        Es una SPA (Single Page Application) donde utilizo Angular Material y Lazy Loading para optimizar la navegación.
      </p>

      <p>
        En la sección <strong>Portafolio</strong> vas a encontrar proyectos realizados aplicando mis conocimientos en:
      </p>

      <ul>
        <li><strong>React</strong></li>
        <li><strong>Node.js</strong></li>
        <li><strong>Bases de datos (MongoDB / MariaDB)</strong></li>
      </ul>

      <p>
        Estoy en constante mejora y aprendizaje continuo, así que te invito a volver para ver avances.  
        <br> ¡Gracias por pasar!
      </p>

      <button routerLink="/contact" class="btn-contacto">Contactame</button>
  </div>

  <div class="hero-right">
      <img src="assets/imagenes/Patricio.png" alt="Foto de Patricio Rearte">
  </div>

</div>


