
  <mat-toolbar   style="background-color: #131313;height: 5rem;">
    <div style="margin-right: auto;" class="example-spacer">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openLinkedInProfile()">
        <i class="fa-brands fa-linkedin "></i>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openGithubProfile()" >
        <i class="fa-brands fa-github "></i>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Enviar correo" (click)="enviarCorreo()">
        <i class="fa-solid fa-envelope"></i>
      </button>
      
    </div>
    <div>
      <button
      style="background-color: #fdcae1;"
        (click)="toggleSidebar.emit()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

