
<div class="m-auto my-5">

  <div class="container  m-auto">
    <div class="text-center p-5">
      <h1>TECNOLOGÍAS</h1>
    </div>
       <div class="row ">
        <div class="col-12" >
          <mat-card class="m-2 align-items-center">
         <mat-card-header>
                <mat-card-title>FRONTEND</mat-card-title>
         </mat-card-header>
            <mat-card-content>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/angular.png" style="max-width: 100px;" class="img-fluid" alt="Logo angular">
                <p class="text-center m-2">Angular v16 y v17</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/JS.png" style="max-width: 100px;" class="img-fluid" alt="Logo JavaScript">
                <p class="text-center m-2">JavaScript Vainilla</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/html5.png" style="max-width: 100px;" class="img-fluid" alt="Logo Html5">
                <p class="text-center m-2">Html5</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/ts.png" style="max-width: 100px;" class="img-fluid" alt="Logo TypeScript">
                <p class="text-center m-2">TypeScript</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/CSS.png" style="max-width: 100px;" class="img-fluid" alt="CSS">
                <p class="text-center m-2">Css</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-12">
          <mat-card class="m-2 align-items-center">
            <mat-card-header>
              <mat-card-title>BACKEND</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/C.png" style="max-width: 100px;" class="img-fluid" alt="Logo C#">
                <p class="text-center m-2">C#</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/java.png" style="max-width: 100px;" class="img-fluid" alt="Logo angular">
                <p class="text-center m-2">Java</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/php.png" style="max-width: 100px;" class="img-fluid" alt="Logo php">
                <p class="text-center m-2">Php</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/net8.png" style="max-width: 100px;" class="img-fluid" alt="Logo .net">
                <p class="text-center m-2">.Net 8</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/entityFrameworkCore.png" style="max-width: 100px;" class="img-fluid" alt="Logo .net">
                <p class="text-center m-2">Entity Framework Core 7.0</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/netCore.png" style="max-width: 100px;" class="img-fluid" alt="Logo .net">
                <p class="text-center m-2">ASP.NET Core 3.0</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
       </div>
       <div class="row">
        <div class="col-12">
          <mat-card class="m-2 align-items-center">
            <mat-card-header>
              <mat-card-title>VERSIONADO y ENTORNOS DE DESARROLLO</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/visualstudiocode.png" style="max-width: 100px;" class="img-fluid" alt="Logo Visual studio Code">
                <p class="text-center m-2">Visual studio Code</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/visualstudio.png" style="max-width: 100px;" class="img-fluid" alt="Visual studio">
                <p class="text-center m-2">Visual studio 2022</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/azureDevops.png" style="max-width: 100px;" class="img-fluid" alt="Visual Azure Devops">
                <p class="text-center m-2">Azure Devops</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/git.png" style="max-width: 100px;" class="img-fluid" alt="Visual Azure Devops">
                <p class="text-center m-2">Git</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/tfs.png" style="max-width: 100px;" class="img-fluid" alt="Visual Azure Devops">
                <p class="text-center m-2">Team Foundation Server</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-12">
          <mat-card class="m-2 align-items-center">
            <mat-card-header>
              <mat-card-title>BASE DE DATOS</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/mysql.png" style="max-width: 100px;" class="img-fluid" alt="My sql">
                <p class="text-center m-2">My sql</p>
              </div>
              <div  style="display: inline-block;" class="m-2">
                <img src="assets/imagenes/sqlServer.png" style="max-width: 100px;" class="img-fluid" alt="Sql Server<">
                <p class="text-center m-2">Sql Server</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
       </div>
  </div>
</div>

