.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.angular-image{
  background-image: url('../../../../assets/imagenes/angular.png');
  background-size: cover;
}

.javascript-image{
  background-image: url('../../../../assets/imagenes/JavaScript.png');
  background-size: cover;
}

.net-image{
  background-image: url('../../../../assets/imagenes/net8.png');
  background-size: cover;
}
img{
  max-width: 400px;
  height: 200px;
}
